In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(42)

data = {
    "Order_ID": range(1, 51),
    "Order_Date": pd.date_range(start="2024-01-01", periods=50, freq="D"),
    "Product": np.random.choice(
        ["Laptop", "Mobile", "Headphones", "Keyboard", "Mouse"], 50
    ),
    "Category": np.random.choice(
        ["Electronics", "Accessories"], 50
    ),
    "Quantity": np.random.randint(1, 6, 50),
    "Price": np.random.randint(500, 50000, 50)
}

df = pd.DataFrame(data)
df.head()

   Order_ID Order_Date     Product     Category  Quantity  Price
0         1 2024-01-01    Keyboard  Accessories         1  45651
1         2 2024-01-02       Mouse  Electronics         4  22903
2         3 2024-01-03  Headphones  Accessories         4  18641
3         4 2024-01-04       Mouse  Electronics         4  15320
4         5 2024-01-05       Mouse  Accessories         5  40842

In [3]:
df["Total_Sales"] = df["Quantity"] * df["Price"]
df.head()

   Order_ID Order_Date     Product     Category  Quantity  Price  Total_Sales
0         1 2024-01-01    Keyboard  Accessories         1  45651        45651
1         2 2024-01-02       Mouse  Electronics         4  22903        91612
2         3 2024-01-03  Headphones  Accessories         4  18641        74564
3         4 2024-01-04       Mouse  Electronics         4  15320        61280
4         5 2024-01-05       Mouse  Accessories         5  40842       204210

In [4]:
total_revenue = df["Total_Sales"].sum()
total_orders = df["Order_ID"].count()

print("Total Revenue:", total_revenue)
print("Total Orders:", total_orders)

Total Revenue: 3541906
Total Orders: 50

In [5]:
product_sales = df.groupby("Product")["Total_Sales"].sum().sort_values(ascending=False)
product_sales

Product
Keyboard      954352
Mobile        735890
Mouse         719237
Headphones    601097
Laptop        531330
Name: Total_Sales, dtype: int64

In [6]:
category_sales = df.groupby("Category")["Total_Sales"].sum()
category_sales

Category
Accessories    2664278
Electronics     877628
Name: Total_Sales, dtype: int64

In [7]:
df["Month"] = df["Order_Date"].dt.month

monthly_sales = df.groupby("Month")["Total_Sales"].sum()
monthly_sales

Month
1    2325691
2    1216215
Name: Total_Sales, dtype: int64

In [8]:
df.to_csv("week2_sales_analysis_output.csv", index=False)
print("CSV file exported successfully!")

CSV file exported successfully!